<h1><%= @room.name %></h1>
<div class="messages">
  <% @room.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>
<%= simple_form_for [ @room, @message ], remote: true do |f| %>
  <%= f.input :content, label:false, placeholder: "Type..." %>
  <%= f.submit %>
<% end %>
